*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body{

font-family:
'Poppins',
'Segoe UI',
sans-serif;


background:

linear-gradient(
135deg,
#fff7ed,
#fef3c7,
#fce7f3
);



min-height:100vh;


overflow-x:hidden;

}



button{

font-family:inherit;

cursor:pointer;

}



::-webkit-scrollbar{

width:8px;

}



::-webkit-scrollbar-track{

background:#fff7ed;

}



::-webkit-scrollbar-thumb{

background:

linear-gradient(
#d97706,
#ec4899
);


border-radius:20px;

}



a{

color:inherit;

}
